 /* General */
	h3 {
		margin: 0;
		width: 100%;
		padding-left: 5px;
		font-size: 14px;
		font-family: sans-serif;
		box-sizing: border-box;
		border-bottom: 1px solid #000000;
	}

	h4 {
		margin: 0;
		width: 100%;
		padding-left: 5px;
		font-size: 12px;
		font-family: sans-serif;
		box-sizing: border-box;
		border-bottom: 1px solid #000000;
		text-align: center;
	}

	h5 {
		margin: 0;
		width: 100%;
		padding-left: 5px;
		font-size: 10px;
		font-family: sans-serif;
		box-sizing: border-box;
		border-bottom: 1px solid #000000;
		text-align: center;
	}

	p {
		margin: 0;
		width: 100%;
		padding-left: 5px;
		font-size: 10px;
		font-family: sans-serif;
		box-sizing: border-box;
		float: left;
	}

		p span {
			height: 11px;
			width: 50%;
			float: left;
		}
		p span.label {
			font-weight: bold;
		}
		p span.label:after {
			content: ":";
			float: right;
		}
		p span.value {
			text-align: center;
		}

	body {
		margin: 0;
		background: #000000;
		overflow: hidden;
		/*
		background: url(../images/bg.jpg);
		background-repeat: no-repeat;
		background-color: #ffffff!important;
		background-position: center top;
		*/
	}

		header {
			text-align: center;
		}

		div#main {
		    width: 776px;
		    margin: 20px auto 20px;
		    position: relative;
		}	

			div#god {
			    overflow: hidden;
			    border: 1px solid #ffffff;
			    border-right: 0;
			    width: 100%;
			    float: left;
			    position: relative;
			}

				div#god-overlay {
				    position: absolute;
				    top: 0;
				    left: 0;
				    width: 100%;
				    height: 100%;
				    z-index: 10;
				    background: rgba(0,0,0,0.25);
				}

			button.show_form {
			    background: transparent;
			    padding: 0;
			    width: 0;
			    height: 0;
			    border-left: 10px solid transparent;
			    border-top: 10px solid #ffffff;
			    border-bottom: 0;
			    border-right: 10px solid transparent;
			    position: absolute;
			    top: 0;
			    right: -20px;
			    opacity: 1;
			}
			button.show_form:focus {
				outline: none;
			}
			button.show_form:not(.disabled) {
				display: none;
			}
			button.show_form.active {
				border-bottom: 10px solid rgba(0,0,0,1);
			    border-top: 0;
			    top: 40px;
			    right: -259px;
			}			

	/* Form */
		#form_page input, #form_page select {
			width: 100%;
			float: left;
			box-sizing: border-box;
		}
		#form_page div#main {
		    height: auto;
		    overflow: hidden;
		}

	/* Header */

		header {
		    width: 700px;
		    box-sizing: border-box;
		    margin: auto;
		    position: relative;
		    overflow: hidden;
		}

			header nav {
				float: left;
			}
			header nav#account_menu {
				width: 80%;
			}
			header nav#main_menu {
				float: right;
				width: 20%;
			}

				header nav ul {
					list-style: none;
					padding: 0;
					margin: 0;
					overflow: hidden;
					width: 100%;
					float: left;
				    height: 30px;
				    line-height: 20px;
				    box-sizing: border-box;
				}

					header nav ul li {
						float: left;
						box-sizing: border-box;
						padding: 0 1%;
						line-height: 30px;
					}
					header nav ul li:after {
						content: ' | ';
					}

					header nav ul li:last-of-type:after {
						content: '';
					}


/* Theming */
	
	.god {
	    width: 389px;
	    height: 512px;
	    float: left;
	    position: relative;
	    background: #ffffff;
	    border-right: 1px solid #ffffff;
	    box-sizing: border-box;
	}	
	.god:hover .god-reroll {
		opacity: 1;
	}

		.god h1 {
			width: 100%;
			float: left;
			text-align: center;
			padding: 10px 0;
			color: #ffffff;
			background: rgba(0,0,0,0.5);
			font-size: 24px;
			margin-top: 0;
			top: 0;
			left: 0;
			box-sizing: border-box;
			position: absolute;
			z-index: 1;
		}

		.god img.god_image {
			width: 388px;
			height: 512px;
		}

		.god .god-reroll {
		    box-sizing: border-box;
		    background: rgba(0,0,0,0.5);
		    position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
		    box-sizing: border-box;
		    background: rgba(0,0,0,0.5);
		    color: #ffffff;
		    font-size: 88px;
		    padding: 200px 165px;
		    opacity: 0;
		    transition: all linear 0.25s;
		}

	.items {
		width: calc(50% - 1px);
		float: right;
	}

		.item {
			float: left;
			width: 128px;
			height: 128px;
		    border-bottom: 1px solid #ffffff;
		    border-left: 1px solid #ffffff;
		    position: relative;
		    background: #ffffff;
		}
		.item:nth-of-type(3n-2) {
			border-left: 0;
		}
		.item:nth-of-type(3n), .relic:last-of-type {
		    border-right: 1px solid #ffffff;
		}
		.item:hover .reroll {
			opacity: 1;
		}

			.item .reroll {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				padding: 45px;
			    box-sizing: border-box;
			    font-size: 44px;
			    background: rgba(0,0,0,0.5);
			    color: #ffffff;
			    opacity: 0;
			    transition: all linear 0.25s;
			    z-index: 2;
			}

			.item h2 {
				width: 100%;
				float: left;
				text-align: center;
				padding: 10px 0;
				color: #ffffff;
				background: rgba(0,0,0,0.5);
		        font-size: 12px;
    			font-weight: normal;
   				margin-top: 0;
   				position: absolute;
   				z-index: 1;
   				top: 0;
   				left: 0;
   				box-sizing: border-box;
			    line-height: 27px;
			}

			.item img.item_image {
				width: 128px;
				height: 128px;
			}

	.relics {
		width: calc(50% - 1px);
		float: right;
	}

		.relic {
			float: left;
			width: 50%;
			box-sizing: border-box;
			background: #000000;
			height: 130px;
			border-left-color: #ffffff;
		}

			.relic img.relic_image {
				width: 128px;
				height: 128px;
				display: block;
				margin: auto;
			}
			.relic .reroll {
				padding: 45px 75px;
			}

	#empty-space {
		border-right: 1px solid #ffffff;
		width: calc(50% - 1px);
		float: right;
	    box-sizing: border-box;
    	height: 124px;
	}

		div#count {
		    height: 124px;
		    width: 124px;
		    background: rgba(0,0,0,0.5);
	        float: left;
            font-size: 54px;
		    padding: 30px 50px;
		    box-sizing: border-box;
		    color: #ffffff;
		    border-right: 1px solid #ffffff;
		    cursor: default;
		}

		div#reroll-all {
		    height: 124px;
		    width: 262px;
		    background: rgba(0,0,0,0.5);
		    float: left;
		    box-sizing: border-box;
	        padding: 40px 20px;
		    font-size: 32px;
		    text-align: center;
		    color: #ffffff;
	        cursor: pointer;
		}
		div#count:hover, div#reroll-all:hover {
		    background: rgba(0,0,0,0.75);
		}

/* Graph */

	#graphContainer {
		width: 90%;
	    height: 90%;
	    display: block;
	    position: absolute;
	    top: 5%;
	    left: 5%;
	}
		div#navControls {
			margin-bottom: 10px;
		    float: left;
    		width: 100%;
		}

			div#navControls > ul {
				float: left;
				list-style: none;
				color: #ffffff;
				width: 100%;
				margin: 0;
				padding: 0;
				border: 1px solid #ffffff;
				box-sizing: border-box;
			}

				div#navControls > ul > li {
					float: left;
					color: #ffffff;
					padding: 10px;
					position: relative;
				    width: 33.33%;
				    box-sizing: border-box;
				    text-align: center;
				    border-right: 1px solid #ffffff;
				}
				div#navControls > ul > li:last-of-type {
					border-right: 0;
				}

					div#navControls > ul > li a {
						color: #ffffff;
						text-decoration: none;
					}

		div#graph {
		    position: relative;
		    width: 100%;
		    height: 100%;
		    top: 0;
		    left: 0;
		    box-sizing: border-box;
		    z-index: 1;
		    float: left;
		}

		div#highestAmount {
			text-align: center;
			position: absolute;
			top: 0;
			left: -40px;
		    color: white;
		}		

		div#graphData {
		    position: absolute;
		    width: calc(100% - 2px);
		    height: 90%;
		    top: 0;
		    left: 0;
		    z-index: 1;
		    background: #ffffff;
		    border-left: 2px solid blue;
		    border-bottom: 2px solid blue;
		}

		#graph .count {
			position: absolute;
			width: auto;
			max-width: 25%;
			height: 100%;
			bottom: 0;
			transition: height linear 1s;
			box-sizing: border-box;
		    border-right: 1px solid #000000;
		}

			#graph .bar, #graph .bar, #graph .bar {
				position: absolute;
				width: 50%;
			    text-align: center;
			    opacity: 0.5;
			    bottom: 0;
			}
			#graph .bar.roll {
				background: green;
			}
			#graph .bar.reroll {
				background: red;
			    left: 50%;
			}
			#graph .bar.full {
				width: 100%;
			}
			#graph .bar.hide {
				width: 0%;
			}

			#graph .count img {
			    position: absolute;
			    width: 100%;
			    height: auto;
			    bottom: 0;
			    z-index: 1;
			    background: #ffffff;
			}

			#graph .count > img {
			    margin-bottom: calc(-100% - 3px);
			}

			#graph .count .info {
			    width: 100px;
			    position: absolute;
			    display: none;
			    background: rgba(255,255,255,0.75);
			    border: 1px solid #000000;
			    padding: 0;
			    z-index: 1;
			    margin: 0 auto;
			    left: 0;
			    right: 0;
			}
			#graph .count:hover .info {
				display: block;
			}

				#graph .count .info img {
					width: 100%;
					float: left;
					position: static;
				}

				#graph .count .info .text {
					float: right;
					padding: 5px;
				    width: 100%;
    				box-sizing: border-box;
				}

					#graph .count .info h5, #graph .count .info h6 {
						margin: 0;
					}
					#graph .count .info h5 {
						text-decoration: none;
						border: 0;
						margin-bottom: 5px;
						font-size: 12px;
					}

			